.welcomeCard {
    width: 95%;
    min-height: 220px;
    max-height: 290px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    background: var(--primaryBg);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #d6d6d8,
        -5px -5px 10px #ffffff;
}

.welcomeCard img {
    width: 98%;
    filter: opacity(.8);
    height: 98%;
    border-radius: 10px;
}

.welcomeText {
    position: absolute;
    bottom: 1rem;
    left: .5rem;
    font-size: clamp(1rem, 1vw, 1.3rem);
    color: white;
    font-weight: 400;

    letter-spacing: 2px;
}