@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

@font-face {
  font-family: 'GraphikRegular';
  src: local('GraphikRegular') url(./assets/fonts/Graphik-Regular.woff) format('woff');
}

:root {
  --primaryBg: #f1f1f1;
  --textPrimary: #4A5662;
  --textSecondry: #3CBCB4;
  --inactiveText: #4a566266;
  --textLightBlack: #4a5662;
  --textLightBlue: #76DFE5;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}


html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: 'Poppins', sans-serif;
  width: min(100%, 460px);
}

.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: var(--primaryBg);
  box-shadow: 4px 4px 7px #cdcdcd,
    -4px -4px 7px #ffffff;
}

.marginLeft {
  margin-left: 1rem;
}

.marginRight {
  margin-right: 1rem;
}